<div>
    <table>
        <th>
            <tr>
                USERNAME: <input type="text" name="username" [(ngModel)]="username"/>
            </tr>
        </th>
    </table>
    
</div>
<br>
<div>
    <table>
        <th>
            <tr>
                PASSWORD: <input type="password" name="password" [(ngModel)]="password"/>
            </tr>
        </th>
    </table>
</div>
<br>
<div>
    <table>
        <th>
            <tr>
                <button (click)=handleLogin()>Submit</button>
            </tr>
        </th>
    </table>
</div>
